{% load static %}

<footer class="shadow-lg">
    <div class="container">
        <div class="d-flex justify-content-between pt-5 flex-wrap">
            <img class="img-fluid" src="{% static 'img/logo.png' %}" style="width: 150px;" alt="">
            <div class="d-flex align-items-center">
                <a href="https://www.facebook.com/profile.php?id=61551230633366&mibextid=avESrC" target="_blank"><img class="img-fluid me-2" style="height: 80%;" src="{% static 'img/facebook.png' %}" alt=""></a>
                <a href="#"><img class="img-fluid me-2" style="height: 80%;" src="{% static 'img/twitter.png' %}" alt=""></a>
                <a href="#"><img class="img-fluid me-2" style="height: 80%;" src="{% static 'img/linkedin.png' %}" alt=""></a>
                <a href="https://www.instagram.com/_clickfix_?utm_source=qr" target="_blank"><img class="img-fluid me-2" style="height: 80%;" src="{% static 'img/instagram.png' %}" alt=""></a>
            </div>
        </div>
        <div class="my-5" style="border: 1px solid #f6921e;"></div>
        <div class="row mb-5">
            <div class="col-md-2 col-sm-6 col-6 mb-4">
                <h4 class="mb-4">Explore</h4>
                <ul class="list-unstyled">
                    <li class="mb-2">Home</li>
                    <li class="mb-2">About Us</li>
                    <li class="mb-2">Services</li>
                    <li class="mb-2">Appointments</li>
                    <li class="mb-2">Contact Us</li>
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#contact_form">Register as professional</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 mb-5">
                <h4 class="mb-4">Services</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#">Laptop</a></li>
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#">Phone</a></li>
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#">Desktop</a></li>
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#">Tablet</a></li>
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#">CCTV</a></li>
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#">Server</a></li>
                    <li class="mb-2"><a class="text-decoration-none text-dark" href="#"></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <h4 class="mb-4">Keep in Touch</h4>
                <div class="row mb-3">
                    <div class="col-3">Address: </div>
                    <div class="col-9">1<sup>st</sup> Floor, Shop No E Mall, 116/117 6, Chittaranjan Ave, Esplanade, Chandni Chawk, Bowbazar, Kolkata, West Bengal, 700072</div>
                </div>

                <div class="row mb-3">
                    <div class="col-3">Mail: </div>
                    <div class="col-9">support@clickfix.co.in</div>
                </div>

                <div class="row mb-3">
                    <div class="col-3">Contact: </div>
                    <div class="col-9">(+91) 89104 34505 / (+91) 98360 66464</div>
                    <div class="col-9"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 d-flex justify-content-md-end">
                <div>
                    <h4 class="mb-4">Working Hours</h4>
                    <ul class="list-unstyled">
                        <li class="mb-2">Mon to Fri: 7am - 6pm</li>
                        <li class="mb-2">Sat: 9am - 7pm</li>
                        <li class="mb-2">Sun: 9am - 6pm</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-4" style="background-color: black; color: white;">
        <p class="mb-0">Copyright@Click2Fix</p>
    </div>
</footer>
