{% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
          <a class="navbar-brand" href="{% url 'clickfix:home' %}"><img src="{% static 'img/logo.png' %}" alt="" style="width: 150px;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-dark fw-bold me-4" aria-current="page" href="{% url 'clickfix:home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link text-dark fw-bold me-4" href="{% url 'clickfix:home' %}#services">Services</a></li>
                <li class="nav-item"><a class="nav-link text-dark fw-bold me-4" href="{% url 'clickfix:home' %}#about">About</a></li>
                <li class="nav-item"><a class="nav-link text-dark fw-bold me-4" href="{% url 'clickfix:home' %}#contact_form">Contact</a></li>
                <li class="nav-item"><a class="nav-link text-dark fw-bold me-4" href="{% url 'cart:cart' %}"><i class="fa-solid fa-cart-shopping"></i> <span id="num_of_items">{{cart.num_of_items}}</span></a></li>


                <li class="nav-item dropdown me-4 pull-right">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user text-dark"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'accounts:profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'accounts:register' %}">Register</a></li>
                    {% endif %}
                  </ul>
                </li>
            </ul>
          </div>
        </div>
      </nav>
