.btn_color{
    background-image: linear-gradient(to right bottom, #F6931E, #f3c082);
    color: white;
}

/* HOME PAGE CUSTOM CSS */
#testimonials .card{
    @media screen and (min-width: 767px) {
        width: 50%;
    }
}
.card-img-top{
    width: 120px;
    height: 100px;
    object-fit: cover;
}
#hero .navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* HOME PAGE DEALS & DISCOUNT SECTION */
#hero .home_banner_video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  #hero .overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }


  #hero .home_banner_content{
    width: 100%;
    height: 90vh;
    margin-top: 80px;
    color: white;
  }
  #hero .home_banner_heading{
    @media (max-width:576px) {
      font-size: 7vw;
    }
    @media (min-width:576px) {
      font-size: 4vw;
    }
    @media (min-width:768px) {
        font-size: 3.5vw;
    }
    @media (min-width:992px) {
        font-size: 3vw;
    }
  }
  #hero .home_banner_subheading{
    @media (max-width:576px) {
      font-size: 5vw;
    }
    @media (min-width:576px) {
      font-size: 4vw;
      width: 75%;
    }
    @media (min-width:768px) {
        font-size: 3vw;
    }
    @media (min-width:992px) {
        font-size: 2vw;
    }
  }
  #hero .input-group{
    @media (min-width:576px) {
        width: 75%;
    }
  }

.sales_container{
    width: 100%;
    height: 70vh;
    position: relative;
}

.sales_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.5);
}

#about .about_text{
    font-size: 1.3rem;
    text-align: justify;
}
@media (max-width: 767px){
    #about .about_text{
        font-size: 1.2rem;
    }
}
@media (max-width: 568px){
    #about .about_text{
        font-size: 1rem;
    }
}
.service_image{
    width: 100%;
    max-height: 210px;
    object-fit: cover;
}




/* LIVE TRACKING CUSTOM CSS */
.vertical_dotted_line{
    border-left: dashed 4px #d8d8d8;
    height: 70px;
    width: 24.8px;
    margin-left: 24.8px;
}
.vertical_dotted_line_2{
    border-left: dashed 2px #d8d8d8;
    height: 50px;
    width: 25px;
    margin-left: 25px;
}
#live_tracking .form-check-input:checked[type=checkbox] {
    background-color: #07794C;
}
#live_tracking .form-check-input {
    pointer-events: none;
}



/* Individual Service Page */
#individual_service .select_service_img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}
#individual_service .service_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
@media (min-width: 768px){
    #individual_service .service_img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
}
@media (max-width: 576px){
    #individual_service .service_img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }
}
.coupon_img {
    background-color: #07794C;
    border-radius: 5px;
    width: 50px;
    font-size: 30px;
    font-weight: bold;
}
.num_spinner .num-in {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    height: 40px;
    width: 110px;
    float: left;
}
.num_spinner .num-in span {
    width: 40%;
    display: block;
    height: 40px;
    float: left;
    position: relative;
    cursor: pointer;
}
.num_spinner .num-in span:before,
.num_spinner .num-in span:after {
    content: '';
    position: absolute;
    background-color: #667780;
    height: 2px;
    width: 10px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -5px;
}
.num_spinner .num-in span.plus:after {
    transform: rotate(90deg);
}
.num_spinner .num-in input {
    float: left;
    width: 20%;
    height: 40px;
    border: none;
    text-align: center;
}
#individual_service .select_service_text{
    font-size: 12px;
}
@media (min-width: 786px) {
    #individual_service .select_service_container{
        border: 2px solid #e7e7e7;
        padding: 20px;
        border-radius: 8px;
    }
}
@media(min-width: 786px){
    #individual_service .service_detail_container{
        padding: 0px 100px;
    }
}
#individual_service .slot_btn{
    border: 1px solid #F6921E;
    color: #F6921E;
}
#individual_service .slot_btn:hover{
    border: 1px solid #F6921E;
    background-color: #f6911e22;
}



/* CART PAGE CUSTOM CSS */
#cart .cart_img {
    width: 160px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
@media (min-width: 786px){
    #cart .coupon_section{
        padding-left: 150px !important;
    }
}
#cart .coupon_modal_img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}