{% extends 'base.html' %}
{% load static %}

{% block title %} Bookings {% endblock %}

{% block extra_css %}
    <style>
        .btn-outline-warning {
            border-color: #F6921E;
            color: #F6921E;
        }
        .btn-outline-warning:hover {
            border-color: #F6921E;
        }
    </style>
{% endblock %}
{% block content %}

    {% include 'includes/navbar.html' %}

    <div class="container my-5">
        {% if order_items %}
        <h1 class="mb-5">My Bookings</h1>
        {% endif %}
        <div class="row">
            {% for item in order_items %}
            <div class="col-md-6 mb-3">
                <div class="d-flex flex-column rounded p-4" style="border: 1px solid #BADBFF;">
                    <div class="d-flex flex-column">
                        {% if item.order.booking_status == "Upcoming" %}
                            <p class="text-uppercase" style="color: #25d366;">UPCOMING</p>
                        {% elif item.order.booking_status == "Booking Not Accepted" or item.order.payment_status == "Failed" %}
                            <p class="text-uppercase text-danger">BOOKING NOT ACCEPTED</p>
                        {% elif item.order.booking_status == "Rescheduled" %}
                            <p class="text-uppercase text-warning">Rescheduled</p>
                        {% elif item.order.booking_status == "Job Completed" %}
                            <p class="text-uppercase" style="color: #25d366;">Job Completed</p>
                        {% endif %}


                        <h2>{{ item.sub_service }}</h2>
                        <p class="mb-0"></p>
                        <p class="mb-0"></p>
                    </div>
                    <div class="my-4" style="border:1px solid #BADBFF;"></div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                            {% if item.order.payment_status == "Failed" %}
                                <span>Payment Failed</span>
                            {% else %}
                                <span>Amount Paid ₹{{item.order.total_cost}}</span>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <!-- <button class="me-2 btn btn-outline-warning">Reschedule</button> -->

                                {% if item.order.payment_status == "Failed" %}
                                    <a href="{% url 'cart:cart' %}" class="me-2 btn btn-outline-warning">Retry</a>
                                {% else %}
                                    <button class="me-2 btn btn-outline-danger">Cancel</button>
                                    <form action="{% url 'clickfix:live_tracking' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="order_item_id" value="{{ item.id }}">
                                        <button href="{% url 'clickfix:live_tracking' %}" type="submit" class="btn btn-outline-dark">Track</button>
                                    </form>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1 class="text-muted text-center">No Bookings</h1>
            {% endfor %}
            <!-- <div class="col-md-6 mb-3">
                <div class="d-flex flex-column rounded p-4" style="border: 1px solid #BADBFF;">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase text-danger">BOOKING NOT ACCEPTED</p>
                        <h2>CCTV Repair</h2>
                        <p class="mb-0">Sun, Aug 12, 2023 at 06:00 PM </p>
                    </div>
                    <div class="my-4" style="border:1px solid #BADBFF;"></div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                            <span>Payment Failed</span>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <button class="me-2 btn btn-outline-warning">Retry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="d-flex flex-column rounded p-4" style="border: 1px solid #BADBFF;">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase text-warning">Rescheduled</p>
                        <h2>Phone Repair</h2>
                        <p class="mb-0">Sun, Aug 12, 2023 at 06:00 PM </p>
                    </div>
                    <div class="my-4" style="border:1px solid #BADBFF;"></div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                            <span>Amount Paid ₹499</span>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <button class="me-2 btn btn-outline-warning">Again Reschedule</button>
                                <button class="me-2 btn btn-outline-danger">Cancel</button>
                                <button class="me-2 btn btn-outline-dark">Track</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="d-flex flex-column rounded p-4" style="border: 1px solid #BADBFF;">
                    <div class="d-flex flex-column">
                        <p class="text-uppercase" style="color: #25d366;">Job Completed</p>
                        <h2>Phone Repair</h2>
                        <p class="mb-0">Sun, Aug 12, 2023 at 06:00 PM </p>
                    </div>
                    <div class="my-4" style="border:1px solid #BADBFF;"></div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                            <span>Amount Paid ₹499</span>
                        </div>
                        <div class="col-12">
                            <div class="d-flex">
                                <button class="me-2 btn btn-outline-warning">Book Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>


    {% include 'includes/footer.html' %}
{% endblock %}