{% extends 'base.html' %}
{% load static %}
{% block title %} Checkout {% endblock %}

{% block content %}

    {% include 'includes/navbar.html' %}

    <div class="container py-5">
        <div class="row">
            <div class="col-md-8 col-12">
                <h1 class="mb-5">Billing Details</h1>
                <form novalidate action="{% url 'cart:billing' %}" method="post" id="billing_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                            <label for="first_name" class="form-label">First Name</label>
                            <input class="form-control" type="text" id="first_name" name="first_name" placeholder="Enter your first name" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">please enter your first name</div>
                        </div>
                        <div class="col-md-6 col-12 mb-3">
                            <label for="last_name" class="form-label">Last Name</label>
                            <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Enter your last name" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">please pick a last name</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="e.g. vaibhav@gmail.com" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">please enter valid email</div>
                        </div>
                        <div class="col-md-6 col-12 mb-3">
                            <label for="phone" class="form-label">Phone Number</label>
                            <input class="form-control" type="tel" id="phone" name="phone" placeholder="e.g. +91 9988007766" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">please pick a valid phone number</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="address_line_1" class="form-label">Address Line 1</label>
                            <input class="form-control" type="text" id="address_line_1" name="address_line_1" placeholder="House Number and Street Name" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">please enter your address</div>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="address_line_2" class="form-label">Address Line 2</label>
                            <input class="form-control" type="text" id="address_line_2" name="address_line_2" placeholder="Apartment, Suite, Unit etc. (optional)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                            <label for="city" class="form-label">Town / City</label>
                            <input class="form-control" type="text" id="city" name="city" placeholder="e.g. Ahmedabad" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">please enter a city</div>
                        </div>
                        <div class="col-md-6 col-12 mb-3">
                            <label for="state" class="form-label">State</label>
                            <input class="form-control" type="text" id="state" name="state" placeholder="e.g. Gujarat" required>
                            <div class="valid-feedback">Looks Good</div>
                            <div class="invalid-feedback">please enter a state</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-12">
                <div class="p-4 my-5" style="border: 1px solid #f6911e75; border-radius: 10px;">
                    <h3>Payment Summary</h3>
                    <div class="d-flex justify-content-between py-2">
                        <div>Item Total</div>
                        <div>Rs. {{cart.cart_cost}}/-</div>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <div>Discount</div>
                        <div>Rs. 0/-</div>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <div>Taxes and Fees</div>
                        <div>Rs. 0/-</div>
                    </div>
                    <div class="d-flex justify-content-between py-2">
                        <div>Coupon Applied</div>
                        <div>Rs. 0/-</div>
                    </div>
                    <div class="my-4" style="border: 1px solid #f6911e75;"></div>

                    <div class="d-flex justify-content-between mb-3" style="color: #F6921E;">
                        <div class="fw-bold py-2">TOTAL</div>
                        <div class="fw-bold">Rs. {{cart.cart_cost}}/-</div>
                    </div>
                    <button class="btn py-2 px-4 text-white btn_color fw-bold" id="submitBtn">Pay Now</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}


    {% block extra_js %}
    <script>
        let myform = document.getElementById('billing_form')
        document.getElementById('submitBtn').addEventListener("click", (e)=>{
            if(myform.checkValidity()){
                console.log('Valid Form')
                myform.submit();
            }
            else
                console.log("Invalid Form")

            myform.classList.add('was-validated');
        })

    </script>
    {% endblock %}
{% endblock %}



