{% extends 'base.html' %}
{% load static %}

{% block title %} Individual Service {% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    <section id="individual_service">
        <div class="row mt-5" style="width: 90%; margin: auto;">
            <!-- Service List -->
            <div class="col-md-4 mb-5">
                <div class="select_service_container mb-5" style="position: sticky; top: 30px;">
                    <div class="h5 mb-2">Select a Service</div>
                    <div class="row">
                        {% for service in sub_services %}
                        <div class="col-4 col-md-3 mt-3">
                            <a href="#sub_service_{{service.id}}" class="text-decoration-none text-dark d-flex flex-column align-items-center" style="cursor: pointer;">
                                <img class="img-fluid select_service_img" src="{{ service.sub_service_card_image.url }}" alt="">
                                <div class="mt-2 text-center select_service_text">{{ service.sub_service_name}}</div>
                            </a>
                        </div>
                        {% empty %}
                            <h6 class="text-muted">No Service at the moment</h6>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <!-- Deals Slider -->
                <div class="swiper deals_and_discount_swiper mb-5 d-none d-md-block" id="individual_service_deals">
                    <div class="swiper-wrapper pb-5">
                        {% for deal in deals_and_discount %}
                        <div class="swiper-slide">
                            <div class="sales_container">
                                <img class="sales_image" src="{{ deal.image.url }}" alt="">
                                <div class="overlay">
                                    <div class="text-white h-100 d-flex flex-column px-5 justify-content-center align-items-center">
                                        {% if deal.heading %}
                                        <div class="home_banner_heading">{{ deal.heading|upper }}</div>
                                        {% endif %}
                                        {% if deal.percent_off %}
                                        <div class="blockquote">UPTO <span style="font-size: 4rem; color: #F6921E;">{{ deal.percent_off }}%</span> OFF</div>
                                        {% endif %}
                                        {% if deal.description %}
                                        <div class="home_banner_subheading text-center">{{ deal.description }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                {% if service.show_contact_form %}
                <div class="service_detail_container">
                    {% for service in sub_services %}
                        <div class="card py-4 mb-4 border-0" id="sub_service_{{service.id}}">
                            <img class="img-fluid service_img" src="{{ service.sub_service_main_image.url }}" alt="...">
                            <div class="card-body">
                                <div class="card-title my-3">
                                    <h5>{{service.sub_service_name}} </h5>
                                </div>
                                <p class="card-text">{{ service.description|safe}} </p>
                                <div class="mb-3">
                                    {{ service.sub_service_price }}
                                    {{ service.price_details|safe }}
                                </div>
                                <button class="btn py-2 px-4 text-white btn_color me-3 mb-3" data-bs-toggle="modal" data-bs-target="#bookCallModal"><i class="fa-solid fa-phone me-2"></i> Book a Call</button>
                            </div>
                        </div>
                        {% if not forloop.last %}
                        <div class="mt-2 mb-5" style="border: 1px solid #e7e7e7;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Call Booking Modal -->
                <div class="modal fade" id="bookCallModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="myModalLabel">
                                    Booking Details?
                                </h1>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                {% if service.show_rent_form %}
                                <form action="{% url 'clickfix:book_rent_call' %}" method="post">
                                    {% csrf_token %}
                                    <select class="form-select mb-2" name="product" id="products">
                                        <option disabled selected>Select Product needed on Rent</option>
                                        <option value="laptop">Laptop on Rent</option>
                                        <option value="desktop">Desktop on Rent</option>
                                        <option value="printer">Printer on Rent</option>
                                        <option value="projector">Projector on Rent</option>
                                    </select>
                                    <input class="form-control mb-2" name="full_name" type="text" placeholder="Full Name" required>
                                    <input class="form-control mb-2" name="contact_number" type="text" placeholder="Contact Number" required>
                                    <input class="form-control mb-2" name="quantity" type="number" placeholder="Quantity" required>
                                    <input class="form-control mb-2" name="duration" type="number" placeholder="Duration (in days)" required>
                                    <!-- <input type="hidden" name="service_slug" value="{{ service.slug }}"> -->
                                    <textarea class="form-control" name="description" cols="30" rows="5" placeholder="What is the Utility of product being taken?" required></textarea>
                                    <button class="btn py-2 px-4 mt-5 text-white btn_color w-100" type="submit">Book Call</button>
                                </form>
                                {% else %}
                                <form action="{% url 'clickfix:book_amc_call' %}" method="post">
                                    {% csrf_token %}
                                    <input class="form-control mb-2" name="full_name" type="text" placeholder="Full Name" required>
                                    <input class="form-control mb-2" name="contact_number" type="text" placeholder="Contact Number" required>
                                    <textarea class="form-control" name="description" cols="30" rows="5" placeholder="Description of assets to be included in amc?" required></textarea>
                                    <!-- <input type="hidden" name="service_slug" value="{{ service.slug }}"> -->
                                    <button class="btn py-2 px-4 mt-5 text-white btn_color w-100" type="submit">Book Call</button>
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="service_detail_container">
                        {% for service in sub_services %}
                        <div class="card py-4 mb-4 border-0" id="sub_service_{{service.id}}">
                            <img class="img-fluid service_img" src="{{ service.sub_service_main_image.url }}" alt="...">
                            <div class="card-body">
                                <div class="card-title my-3">
                                    <h5>{{service.sub_service_name}} </h5>
                                </div>
                                <p class="card-text">{{ service.description|safe}} </p>
                                <div class="mb-3">
                                    Starts from {{ service.sub_service_price }}
                                    {{ service.price_details|safe }}
                                </div>
                                <button class="btn py-2 px-4 text-white btn_color me-3 mb-3" onclick="bookService('{{service.id}}')" data-bs-toggle="modal" data-bs-target="#bookAppointmentModal"><i class="fa-regular fa-clock"></i> Check Availability</button>
                                <a href="{% url 'cart:cart' %}" class="btn py-2 px-4 text-white btn_color mb-3"><i class="fa-solid fa-cart-shopping"></i> View Cart <span class="num_of_items">{{cart.num_of_items}}</span></a>
                            </div>
                        </div>

                        {% if not forloop.last %}
                            <div class="mt-2 mb-5" style="border: 1px solid #e7e7e7;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Appointment Modal -->
                <div class="modal fade" id="bookAppointmentModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="myModalLabel">
                                    When Should the Professional Arrive?
                                </h1>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="" id="appointment_date">
                                    <div class="swiper dates_list">
                                        <div class="swiper-wrapper">
                                            {% for date_obj in timeline %}
                                                <div class="swiper-slide">
                                                    <button value="{{date_obj|date:'Y-m-d'}}" class="btn slot_btn px-3 date_slot_btn" id="date_button_{{forloop.counter}}" onclick="select_date(this)">
                                                        <div class="d-flex flex-column align-items-center justify-content-center">
                                                            <div>{{date_obj|date:"D"}}</div>
                                                            <div class="fw-bold">{{date_obj|date:"d"}}</div>
                                                            <div>{{date_obj|date:"M"}}</div>
                                                        </div>
                                                    </button>
                                                </div>
                                            {% endfor %}
                                            <div class="swiper-slide"></div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn py-2 px-4 mt-5 text-white btn_color w-100 disabled" id="date_selected_next_button" onclick="handleSelectedDate(this)" data-bs-toggle="modal" data-bs-target="#timeSlotModal">Select Time Slot</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Time Slot Modal -->
                <div class="modal fade" id="timeSlotModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="myModalLabel">
                                    Select Time Slot?
                                </h1>
                                <button class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3 d-flex justify-content-between" id="appointment_time">
                                    <button class="btn slot_btn time_slot_btn" id="time_button_1" onclick="select_time(this)" value="10am-12pm">
                                        <div class="d-none d-md-block">12AM - 2PM</div>
                                        <div class="d-md-none d-flex flex-column align-items-center justify-content-center">
                                            <div>10 AM</div>
                                            <div class="fw-bold">to</div>
                                            <div>12 PM</div>
                                        </div>
                                    </button>
                                    <button class="btn slot_btn time_slot_btn" id="time_button_2" onclick="select_time(this)" value="12pm-2pm">
                                        <div class="d-none d-md-block">12AM - 2PM</div>
                                        <div class="d-md-none d-flex flex-column align-items-center justify-content-center">
                                            <div>12 AM</div>
                                            <div class="fw-bold">to</div>
                                            <div>2 PM</div>
                                        </div>
                                    </button>
                                    <button class="btn slot_btn time_slot_btn" id="time_button_3" onclick="select_time(this)" value="2pm-4pm">
                                        <div class="d-none d-md-block">2AM - 4PM</div>
                                        <div class="d-md-none d-flex flex-column align-items-center justify-content-center">
                                            <div>2 PM</div>
                                            <div class="fw-bold">to</div>
                                            <div>4 PM</div>
                                        </div>
                                    </button>
                                    <button class="btn slot_btn time_slot_btn" id="time_button_4" onclick="select_time(this)" value="4pm-7pm">
                                        <div class="d-none d-md-block">4AM - 7PM</div>
                                        <div class="d-md-none d-flex flex-column align-items-center justify-content-center">
                                            <div>4 AM</div>
                                            <div class="fw-bold">to</div>
                                            <div>7 PM</div>
                                        </div>
                                    </button>
                                </div>
                                <button class="btn py-2 px-4 mt-3 text-white btn_color w-100 disabled" id="time_selected_next_button" onclick="addToCart()">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </section>



    <!-- FAQ Section -->
    <section class="container w-75" style="margin-top: 100px; margin-bottom: 100px;">
        <h1 class="text-center mb-5">FAQs</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">

            {% if service.show_contact_form %}
                {% if service.show_rent_form %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="rent_call_heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#rent_call" aria-expanded="false" aria-controls="rent_call">What is a rental service?</button>
                    </h2>
                    <div id="rent_call" class="accordion-collapse collapse" aria-labelledby="rent_call_heading"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>At ClickFix, we offer IT product rentals. Whether you have an upcoming exam, a project, or simply want to watch a cricket match without the need to purchase new equipment, we have the solution!</p>
                            <p>
                                <div>Where is it available?</div>
                                <div>Our rental service is available throughout Kolkata.</div>
                            </p>
                            <p>
                                <div>What is the Minimum Rental Duration?</div>
                                <div>The rental duration can be tailored to your specific requirements.</div>
                            </p>
                            <p>
                                <div>What is the process of Pickup and Delivery?</div>
                                <div>Upon completing the payment and the necessary KYC procedure, our customer support team will contact you to arrange a delivery date that suits your schedule. Once confirmed, your order will be delivered within 24 to 48 hours.</div>
                            </p>
                            <p>
                                <div>How Service & Support will be handled?</div>
                                <div>Our team will assist you with the setup and address any service issues you may encounter.</div>
                            </p>
                            <p>
                                <div>What if I damage the product?</div>
                                <div>While we cover minor damages, if a product sustains damage that significantly impairs its functionality, you will be responsible for covering the total cost of the rented item. For additional assistance, we encourage you to utilize the chat feature on our website or app for any inquiries.</div>
                            </p>

                        </div>
                    </div>
                </div>
                {% else %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="amc_call_heading">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#amc_call" aria-expanded="false" aria-controls="amc_call">Why AMC?</button>
                    </h2>
                    <div id="amc_call" class="accordion-collapse collapse" aria-labelledby="amc_call_heading"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol>
                                <li>Cost Efficiency: Save on unexpected IT repair and replacement costs by having a fixed, predictable annual budget.</li>
                                <li>Extended Lifespan: Regular maintenance and genuine parts help extend the lifespan of your IT equipment.</li>
                                <li>Priority Support: Enjoy priority access to technical support for a faster response to your needs.</li>
                                <li>Enhanced Security: Stay up-to-date with the latest security patches and measures to protect your digital assets.</li>
                                <li>Customized Contracts: Tailor the AMC to suit your specific IT needs and equipment.</li>
                                <li>Reduced Downtime: Minimize business interruptions with prompt service and maintenance.</li>
                                <li>Access to Latest Technology: Stay current with advancements in IT technology through regular updates and recommendations.</li>
                                <li>Compliance Assurance: Ensure your IT systems comply with industry standards and regulations.</li>
                                <li>Peace of Mind: Have confidence in the reliability and performance of your IT infrastructure.</li>
                                <li>Dedicated Customer Support: Benefit from a team committed to meeting your IT requirements efficiently.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">What
                        is Click Fix?</button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Click Fix is an online platform that connects you with skilled IT
                        professionals who can provide various repair and service solutions right at your doorstep.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">What services does Click Fix offer?</button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Click Fix offers a wide range of IT repair and services, including but not
                        limited to just computer and laptop repairs, software troubleshooting, network setup, printer
                        repairs, and data recovery. Click Fix also offers renting of IT infrastructure for urgent needs and
                        can be your go to for any sort of IT infrastructure solution big or small.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">How does ClickFix work?</button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li> Start by visiting our website and selecting the service you need. </li>
                            <li> Provide your location and preferred time for the service. </li>
                            <li> Choose from a list of available professionals and book your appointment. </li>
                            <li> The selected technician will arrive at your location to fix the issue. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush_4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush_4" aria-expanded="false" aria-controls="flush_4">Is Click Fix available in my area?</button>
                </h2>
                <div id="flush_4" class="accordion-collapse collapse" aria-labelledby="flush_4"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Click Fix operates in Kolkata, Howrah, Bidhanagar, Newtown as of now</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-5" aria-expanded="false" aria-controls="flush-5">Are the technicians qualified and reliable?</button>
                </h2>
                <div id="flush-5" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes, all technicians on Click Fix are thoroughly screened, qualified, and have a proven track record in providing IT repair and services since last 27 years.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-6" aria-expanded="false" aria-controls="flush-6">How do I pay for services on Click Fix?</button>
                </h2>
                <div id="flush-6" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You can make payment for the services through our secure online payment system. We accept major credit cards and digital payment methods for your convenience.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-7" aria-expanded="false" aria-controls="flush-7">What if I'm not satisfied with the service?</button>
                </h2>
                <div id="flush-7" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">We strive for customer satisfaction. If you're not satisfied with the service provided, please contact our customer support team, and we will work to resolve the issue or provide a refund if necessary.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-8" aria-expanded="false" aria-controls="flush-8">How do I cancel or reschedule an appointment?</button>
                </h2>
                <div id="flush-8" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You can cancel or reschedule an appointment by logging into your Click Fix
                        account and accessing the "My Appointments" section. Please note that there may be
                        cancellation/rescheduling policies in place.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-9" aria-expanded="false" aria-controls="flush-9">Is my personal information safe with Click Fix?</button>
                </h2>
                <div id="flush-9" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes, we take your privacy seriously. Click Fix uses industry-standard
                        security measures to protect your personal information and ensure it's not shared with unauthorized
                        parties.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-10" aria-expanded="false" aria-controls="flush-10">How do I contact Click Fix support?</button>
                </h2>
                <div id="flush-10" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">For any inquiries, concerns, or assistance, you can contact our customer support team via email - support@clickfix.co.in , phone - +918910434505 / +919836066464 , instagram</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-11" aria-expanded="false" aria-controls="flush-11">Do I need to provide any tools or equipment for the service?</button>
                </h2>
                <div id="flush-11" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Typically, technicians come prepared with the necessary tools and equipment.
                        However, if there are specific requirements for your service, the technician will inform you in
                        advance.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-12" aria-expanded="false" aria-controls="flush-12">Are there any warranties or guarantees on the services?</button>
                </h2>
                <div id="flush-12" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">The warranty or guarantee on services may vary depending on the type of service and the technician. Please inquire about warranties or guarantees when booking your service.</div>
                </div>
            </div>
        </div>
    </section>


    {% include 'includes/footer.html' %}

{% endblock %}
