{% extends 'base.html' %}
{% load static %}

{% block title %} Individual Service {% endblock %}

{% block content %}

    {% include 'includes/navbar.html' %}

    <section id="individual_service">
        <div class="row mt-5" style="width: 90%; margin: auto;">
            <div class="col-md-4">
                <div class="select_service_container mb-5" style="position: sticky; top: 30px;">
                    <div class="h5 mb-2">Select a Service</div>
                    <div class="row">
                        {% for service in sub_services %}
                        <div class="col-4 col-md-3 mt-3">
                            <a href="#sub_service_{{service.id}}" class="text-decoration-none text-dark d-flex flex-column align-items-center" style="cursor: pointer;">
                                <img class="img-fluid select_service_img" src="{{ service.sub_service_card_image.url }}" alt="">
                                <div class="mt-2 text-center select_service_text">{{ service.sub_service_name}}</div>
                            </a>
                        </div>
                        {% empty %}
                            <h6 class="text-muted">No Service at the moment</h6>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="swiper deals_and_discount_swiper mb-5" id="individual_service_deals">
                    <div class="swiper-wrapper pb-5">
                        <div class="swiper-slide">
                            <div class="sales_container">
                                <img class="sales_image" src="{% static 'clickfix_photos/sale1.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="text-white h-100 d-flex flex-column px-5 justify-content-center align-items-center">
                                        <div style="font-size: 4rem;">Welcome Offer</div>
                                        <div class="blockquote">UPTO <span style="font-size: 4rem; color: #F6921E;">50%</span> OFF</div>
                                        <div class="blockquote text-center">Welcome to Click Fix! Enjoy 10% off your first IT service. Let us make your tech hassles disappear</div>
                                        <button class="btn btn_color">Avail Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="sales_container">
                                <img class="sales_image" src="{% static 'clickfix_photos/sale2.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="text-white h-100 d-flex flex-column px-5 justify-content-center align-items-center">
                                        <div style="font-size: 4rem;">Welcome Offer</div>
                                        <div class="blockquote">UPTO <span style="font-size: 4rem; color: #F6921E;">50%</span> OFF</div>
                                        <div class="blockquote text-center">Welcome to Click Fix! Enjoy 10% off your first IT service. Let us make your tech hassles disappear</div>
                                        <button class="btn btn_color">Avail Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="sales_container">
                                <img class="sales_image" src="{% static 'clickfix_photos/sale3.jpg' %}" alt="">
                                <div class="overlay">
                                    <div class="text-white h-100 d-flex flex-column px-5 justify-content-center align-items-center">
                                        <div style="font-size: 4rem;">Welcome Offer</div>
                                        <div class="blockquote">UPTO <span style="font-size: 4rem; color: #F6921E;">50%</span> OFF</div>
                                        <div class="blockquote text-center">Welcome to Click Fix! Enjoy 10% off your first IT service. Let us make your tech hassles disappear</div>
                                        <button class="btn btn_color">Avail Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="service_detail_container">
                        {% for service in sub_services %}

                        <div class="card py-4 mb-4 border-0" id="sub_service_{{service.id}}">
                            <img class="img-fluid service_img" src="{{ service.sub_service_main_image.url }}" alt="...">
                            <div class="card-body">
                                <div class="card-title my-3">
                                    <h5>{{service.sub_service_name}} </h5>
                                </div>
                                <p class="card-text">{{ service.description}} </p>
                                <div class="mb-3">
                                    Starts from {{ service.sub_service_price }}
                                    {{ service.price_details|safe }}
                                </div>
                                <button class="btn py-2 px-4 text-white btn_color" data-bs-toggle="modal" data-bs-target="#bookAppointment-{{service.id}}">Check Availability</button>
                            </div>
                        </div>

                        <!-- Appointment Modal -->
                        <div class="modal fade" id="bookAppointment-{{service.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="myModalLabel">
                                            When Should the Professional Arrive?
                                        </h1>
                                        <button class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3 d-flex justify-content-between" id="appointment_date">
                                            {% for day, date in timeline %}
                                            <button class="btn me-2 mb-3 slot_btn" onclick="select_date(this, '{{service.id}}')">
                                                <div class="d-flex flex-column align-items-center justify-content-center">
                                                    <div>{{day}}</div>
                                                    <div class="fw-bold">{{date}}</div>
                                                </div>
                                            </button>
                                            {% endfor %}
                                        </div>
                                        <div class="h5 mb-4">Select Time Slot</div>
                                        <div class="mb-3 d-flex justify-content-between" id="appointment_time">
                                            <button class="btn me-2 mb-3 slot_btn" onclick="select_time(this)">10am-12pm</button>
                                            <button class="btn me-2 mb-3 slot_btn" onclick="select_time(this)">12pm-2pm</button>
                                            <button class="btn me-2 mb-3 slot_btn" onclick="select_time(this)">2pm-4pm</button>
                                            <button class="btn me-2 mb-3 slot_btn" onclick="select_time(this)">4pm-7pm</button>
                                        </div>

                                        <!-- <div class="h5 mb-4">Select Quantity</div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="num_spinner" id="subservice_{{service.id}}">
                                                    <div class="num-in">
                                                        <span class="minus dis" id="minusBtn" onclick="minusFunc(this, 'service_cost_{{service.id}}', 'total_cost_{{service.id}}')"></span>
                                                        <input type="text" class="in-num" value="0">
                                                        <span class="plus" id="plusBtn" onclick="plusFunc(this, 'service_cost_{{service.id}}', 'total_cost_{{service.id}}')"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">

                                                <div>Service Price: <span id="service_cost_{{service.id}}">{{ service.sub_service_price }}</span></div>
                                                <div>Total Cost: <span id="total_cost_{{service.id}}"> 0.0</span></div>
                                            </div>
                                        </div> -->

                                        <button class="btn py-2 px-4 mt-3 text-white btn_color w-100" value="{{service.id}}" onclick="addToCart(this)" data-bs-dismiss="modal">Add to Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if not forloop.last %}
                            <div class="my-5" style="border: 1px solid #e7e7e7;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>



    <!-- FAQ Section -->
    <section class="container w-75" style="margin-top: 100px; margin-bottom: 100px;">
        <h1 class="text-center mb-5">FAQs</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">What
                        is Click Fix?</button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Click Fix is an online platform that connects you with skilled IT
                        professionals who can provide various repair and service solutions right at your doorstep.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">What services does Click Fix offer?</button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Click Fix offers a wide range of IT repair and services, including but not
                        limited to just computer and laptop repairs, software troubleshooting, network setup, printer
                        repairs, and data recovery. Click Fix also offers renting of IT infrastructure for urgent needs and
                        can be your go to for any sort of IT infrastructure solution big or small.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">How does ClickFix work?</button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <ul>
                            <li> Start by visiting our website and selecting the service you need. </li>
                            <li> Provide your location and preferred time for the service. </li>
                            <li> Choose from a list of available professionals and book your appointment. </li>
                            <li> The selected technician will arrive at your location to fix the issue. </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush_4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush_4" aria-expanded="false" aria-controls="flush_4">Is Click Fix available in my area?</button>
                </h2>
                <div id="flush_4" class="accordion-collapse collapse" aria-labelledby="flush_4"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Click Fix operates in Kolkata, Howrah, Bidhanagar, Newtown as of now</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-5" aria-expanded="false" aria-controls="flush-5">Are the technicians qualified and reliable?</button>
                </h2>
                <div id="flush-5" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes, all technicians on Click Fix are thoroughly screened, qualified, and have a proven track record in providing IT repair and services since last 27 years.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-6" aria-expanded="false" aria-controls="flush-6">How do I pay for services on Click Fix?</button>
                </h2>
                <div id="flush-6" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You can make payment for the services through our secure online payment system. We accept major credit cards and digital payment methods for your convenience.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-7" aria-expanded="false" aria-controls="flush-7">What if I'm not satisfied with the service?</button>
                </h2>
                <div id="flush-7" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">We strive for customer satisfaction. If you're not satisfied with the service provided, please contact our customer support team, and we will work to resolve the issue or provide a refund if necessary.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-8" aria-expanded="false" aria-controls="flush-8">How do I cancel or reschedule an appointment?</button>
                </h2>
                <div id="flush-8" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">You can cancel or reschedule an appointment by logging into your Click Fix
                        account and accessing the "My Appointments" section. Please note that there may be
                        cancellation/rescheduling policies in place.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-9" aria-expanded="false" aria-controls="flush-9">Is my personal information safe with Click Fix?</button>
                </h2>
                <div id="flush-9" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Yes, we take your privacy seriously. Click Fix uses industry-standard
                        security measures to protect your personal information and ensure it's not shared with unauthorized
                        parties.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-10" aria-expanded="false" aria-controls="flush-10">How do I contact Click Fix support?</button>
                </h2>
                <div id="flush-10" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">For any inquiries, concerns, or assistance, you can contact our customer support team via email - support@clickfix.co.in , phone - +918910434505 / +919836066464 , instagram</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-11" aria-expanded="false" aria-controls="flush-11">Do I need to provide any tools or equipment for the service?</button>
                </h2>
                <div id="flush-11" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Typically, technicians come prepared with the necessary tools and equipment.
                        However, if there are specific requirements for your service, the technician will inform you in
                        advance.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-12" aria-expanded="false" aria-controls="flush-12">Are there any warranties or guarantees on the services?</button>
                </h2>
                <div id="flush-12" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">The warranty or guarantee on services may vary depending on the type of service and the technician. Please inquire about warranties or guarantees when booking your service.</div>
                </div>
            </div>
        </div>
    </section>


    {% include 'includes/footer.html' %}
{% endblock %}
